@page "/"
@rendermode @(new InteractiveServerRenderMode(true))

<PageTitle>Home</PageTitle>

<Spinner IsServiceSpinner="true" SpinnerMode="SpinnerMode.Page" SpinnerLoader="SpinnerLoader.Loader2" Visible="true" />

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 1</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader1" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 2</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader2" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 3</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader3" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 4</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader4" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 5</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader5" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 6</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader6" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 7</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader7" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 8</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader8" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 9</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader9" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 10</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader10" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 11</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader11" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 12</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader12" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 13</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader13" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 14</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader14" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 15</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader15" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 16</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader16" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 17</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader17" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 18</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader18" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 19</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader19" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 20</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader20" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 21</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader21" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 22</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader22" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 23</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader23" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 24</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader24" />
        </p>
    </div>
</div>


<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 25</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader25" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 26</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader26" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 27</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader27" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 28</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader28" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 29</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader29" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 30</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader30" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 31</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader31" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 32</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader32" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 33</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader33" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 34</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader34" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 35</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader35" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 36</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader36" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 37</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader37" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 38</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader38" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 39</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader39" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 40</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader40" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 41</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader41" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 42</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader42" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 43</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader43" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 44</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader44" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 45</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader45" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 46</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader46" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 47</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader47" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 48</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader48" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 49</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader49" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 50</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader50" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 51</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader51" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 52</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader52" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 53</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader53" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 54</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader54" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 55</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader55" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 56</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader56" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 57</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader57" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 58</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader58" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 59</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader59" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 60</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader60" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 61</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader61" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 62</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader62" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 63</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader63" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 64</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader64" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 65</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader65" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 66</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader66" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 67</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader67" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 68</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader68" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 69</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader69" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 70</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader70" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 71</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader71" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 72</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader72" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 73</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader73" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 74</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader74" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 75</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader75" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 76</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader76" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 77</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader77" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 78</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader78" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 79</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader79" />
        </p>
    </div>
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 80</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader80" />
        </p>
    </div>
</div>

<div class="row g-2 mb-2" style="min-height: 4rem;">
    <div class="col h-100 rounded overflow-hidden text-center border position-relative">
        <h2 class="fs-6 pb-2">Loader 81</h2>
        <p class="pt-2 pb-2 text-center">
            <Spinner SpinnerLoader="SpinnerLoader.Loader81" />
        </p>
    </div>
</div>

@code {
    [Inject]
    private SpinnerService spinnerService { get; set; } = default!;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            spinnerService.Hide();

        return base.OnAfterRenderAsync(firstRender);
    }
}
