@inject NavigationManager Navigation

<nav class="mt-10">
    <NavLink class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" ActiveClass="bg-gray-700" href="/" Match="NavLinkMatch.All">
        Home
    </NavLink>
    <NavLink class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" ActiveClass="bg-gray-700" href="demo/customsetting" Match="NavLinkMatch.All">
        Custom Setting
    </NavLink>
    <NavLink class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" ActiveClass="bg-gray-700" href="demo/service" Match="NavLinkMatch.All">
        Service
    </NavLink>
    <NavLink class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" ActiveClass="bg-gray-700" href="demo/page" Match="NavLinkMatch.All">
        Page
    </NavLink>
</nav>
